/* _TYPE.SCSS */

#controls {
	font-family: Monospace;
	font-size: 16px;
	line-height: 24px;
	color: white;
}

#information {
	font-family: Monospace;
	font-size: 16px;
	line-height: 24px;
	color: white;
}